body
{
    color: black;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: auto;
}
#container h1
{
    font-size: 20px;
}